.footer {
  padding: 2em;
  text-align: center;
  color: $dark-theme-text-color;
  background-color: grey;

  span {
    display: block;
    ul li {
      display: inline-block;
    }
  }

  hr {
    border-color: rgba(255, 250, 250, 0.1);
  }

  a {
    color: $dark-theme-text-color;
    &:hover {
      color: $default-hover-text-color;
    }
  }
}

.dark-theme {
  .footer {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
