.movieTv__single-trailer-container {
  .slick-slide {
    padding: 4px;
  }
  .movieTv__single-trailer {
    iframe {
      width: 100%;
      height: 18.5em;
      outline: 0;
      border: 0;
      background-color: #000;
      transition: all ease-in-out 0.3s;
      @media (max-width: 1365px) {
        width: 100%;
        height: 16.5em;
        transition: all ease-in-out 0.3s;
      }
      @media (max-width: 767px) {
        width: 100%;
        height: 15.5em;
        transition: all ease-in-out 0.3s;
      }
    }
  }
}
