.pagination-container {
  margin: 50px 0;
  text-align: center;
  h5 {
    margin: 5px !important;
    color: $light-theme-text-color;
  }
  .pagination {
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 2px;
        width: 40px;
        height: 40px;
        color: #aaa;
        text-decoration: none;
        font-size: 14px;
      }
      &.active a,
      a:hover {
        background-color: rgba(63, 81, 181, 1);
        color: #fff;
      }
    }
    li.disabled {
      a {
        cursor: no-drop;
        &:hover {
          background-color: transparent;
          color: #aaa;
        }
      }
    }
  }
}

body.dark-theme {
  .pagination-container h5 {
    color: $dark-theme-text-color;
  }
}
