.user__authentication-wrapper {
  min-height: 100vh;
  overflow: hidden;
  padding: 10px;
  padding-top: $default-padding-top;
  @include flexColumnCenter;
  form {
    padding: 1em;
    background-color: #ddd;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    h3 {
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      text-align: center;
    }
    .form-control,
    .btn,
    .alert {
      border-radius: 0;
    }
    input {
      border-color: rgba(0, 0, 0, 0.15);
    }
    .btn {
      width: 100%;
      margin-top: 0.5em;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      background-color: rgba(0, 123, 255, 0.9);
      text-transform: uppercase;
      color: #f4f4f4 !important;
      font-weight: bold;
      &:hover {
        background-color: rgba(0, 123, 255, 1);
      }
      &:disabled {
        background-color: rgba(0, 0, 0, 0.2);
        color: #000 !important;
        cursor: no-drop;
      }
    }
    p {
      margin-top: 1em;
      text-align: center;
    }
  }
}

body.dark-theme {
  .user__authentication-wrapper {
    color: $text-color;
    form {
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
      h3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: $text-color;
      }
      input {
        background-color: rgba(255, 255, 255, 0.08);
        color: $text-color;
        border-color: rgba(255, 255, 255, 0.2);
      }
      .btn {
        background-color: rgba(10, 0, 128, 0.8) !important;
        &:hover {
          background-color: rgba(10, 0, 128, 1) !important;
        }
        &:disabled {
          background-color: rgba(255, 255, 255, 0.08) !important;
          color: #f4f4f4 !important;
        }
      }
    }
  }
}
