// variables
$default-font-family: 'Krub', sans-serif;
$default-hover-text-color: rgba(24, 144, 255, 1);
$default-hover-background-color: rgba(0, 0, 0, 0.7);
$default-star-color: #ffc107;
$default-padding-top: 75px;
$default-padding-x: 0 20px;
$default-sub-padding: 10px 40px;
$default-genre-color: darkgrey;
$default-nav-hover-color: #000;
$default-genre-hover-color: #e91e63;
$search-suggestion-result-height: 35em;
$search-suggestion-loading-height: 25em;
$text-color: #ddd;
//dark theme
$dark-theme-text-color: #fff;
$dark-theme-background-color: #1d1d1d;
$dark-theme-hover-background-color: rgba(0, 0, 0, 0.4);
$dark-theme-active-background-color: rgba(255, 255, 255, 0.2);

//light theme
$light-theme-text-color: #000;
$light-theme-background-color: #f4f4f4;
$light-theme-active-background-color: #e5e5e5;
$light-theme-hover-background-color: rgba(0, 0, 0, 0.4);
