// imports
@import './variables';
@import './mixins';
@import './navigationBar';
@import './sideNavigationBar';
@import './searchSuggestions';

@import './errorPage';
@import './footer';

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.fa:not(.fa-bars) {
  font-size: 16px;
}
.fa-bars {
  font-size: 18px;
}
body {
  position: absolute;
  margin: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $default-font-family;
  transition: all ease-in-out 0.15s;
  @include lightScrollBar;

  .route__wrapper {
    padding-top: $default-padding-top !important;
  }
  button {
    outline: none !important;
  }
  i.fa-star {
    margin-right: 5px;
    color: $default-star-color !important;
  }
  ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
  }
  .ant-empty {
    span {
      font-size: 2em;
      color: #fd4548;
    }
  }
  .ant-dropdown-menu {
    max-height: 300px;
    overflow: auto;
    z-index: -1 !important;
  }
  .movieTv__zero-result {
    width: 100%;
    min-height: 60vh;
    @include flexColumnCenter;
  }
  span,
  a {
    transition: all ease-in-out 0.2s;
    &:hover {
      transition: all ease-in-out 0.2s;
    }
  }
  .move-to-top {
    position: fixed;
    bottom: 0.6em;
    right: 0.6em;
    z-index: 999;
    .MuiIconButton-root {
      box-shadow: 2px 2px 10px #000;
      background-color: rgba(0, 0, 0, 0.8);
      span {
        color: #fff;
      }
    }
  }
  background-color: $light-theme-background-color;
  color: $light-theme-text-color;
  button {
    color: $light-theme-text-color !important;
  }
  .ant-dropdown-menu {
    .ant-dropdown-menu-item {
      text-transform: capitalize !important;
      &:hover {
        background-color: $light-theme-active-background-color !important;
        color: $light-theme-text-color;
      }
      &.active {
        background-color: $dark-theme-hover-background-color !important;
        color: $dark-theme-text-color !important;
      }
    }
    @include lightScrollBar;
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
  .ant-message {
    z-index: 9999999;
    div > div {
      background-color: #1d1d1d;
      color: $text-color;
    }
  }
  .ant-drawer-body {
    overflow: hidden;
    padding: 0 !important;
  }
  .ant-drawer-body,
  .ant-drawer-header {
    border-radius: 0 !important;
  }
  .ant-drawer-header,
  .ant-drawer-close {
    padding: 8px 20px !important;
  }
  .ant-drawer-close {
    background-color: transparent !important;
    &:hover {
      background-color: transparent;
      color: $default-hover-text-color !important;
    }
  }
  .ant-select {
    .ant-select-selector {
      border-radius: 0 !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .ant-btn-dangerous {
    color: $dark-theme-text-color !important;
  }
}

body.dark-theme {
  background-color: $dark-theme-background-color;
  color: $dark-theme-text-color;
  @include darkScrollBar;
  button {
    color: $dark-theme-text-color !important;
  }
  .MuiIconButton-root {
    &:hover {
      background-color: $dark-theme-active-background-color !important;
    }
  }
  .ant-dropdown-trigger,
  .ant-select-selector {
    background-color: rgba(255, 255, 255, 0.02) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    &:hover {
      background-color: $dark-theme-active-background-color !important;
    }
  }
  .MuiTab-root {
    &:hover {
      background-color: $dark-theme-active-background-color !important;
    }
  }
  .ant-dropdown-menu {
    background-color: $dark-theme-background-color;
    @include darkScrollBar;
    &::-webkit-scrollbar {
      width: 5px;
    }
    .ant-dropdown-menu-item {
      color: $text-color;
      &:hover,
      &:focus {
        background-color: $dark-theme-active-background-color !important;
        color: $dark-theme-text-color;
      }
      &.active {
        background-color: $light-theme-background-color !important;
        color: $light-theme-text-color !important;
      }
    }
  }
  .ant-tooltip-arrow::before,
  .ant-tooltip-inner {
    background-color: $dark-theme-text-color !important;
    color: $dark-theme-background-color !important;
  }
  .ant-input-affix-wrapper,
  .ant-input-affix-wrapper input {
    background-color: #1d1d1d !important;
    color: #ddd;
    border-color: rgba(255, 255, 255, 0.2) !important;
  }
  .move-to-top {
    .MuiIconButton-root {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .ant-message {
    div > div {
      background-color: #fff;
      color: #000;
    }
  }
  .ant-btn-primary {
    &:hover {
      color: #1d1d1d !important;
    }
  }
  .ant-drawer-body,
  .ant-drawer-header {
    background-color: rgba(0, 0, 0, 0.85) !important;
    color: $text-color !important;
  }
  .ant-drawer-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  .ant-drawer-title,
  .ant-drawer-close {
    color: $text-color;
    &:hover {
      background-color: transparent !important;
    }
  }
  .ant-select {
    background-color: rgba(0, 0, 0, 0.85) !important;
  }
  .ant-select-selector {
    color: $text-color !important;
    background-color: rgba(255, 255, 255, 0.02) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
  }
  .ant-select-dropdown {
    background-color: $dark-theme-background-color;
  }
  .ant-select-item-option {
    color: $text-color !important;
    &:hover {
      background-color: rgba(255, 255, 255, 0.08) !important;
    }
  }
  .ant-select-item-option-selected {
    background-color: rgba(255, 255, 255, 0.08) !important;
  }
  .ant-select-arrow {
    color: $text-color !important;
  }
  .ant-btn-dangerous {
    &:hover {
      background-color: #fd4548 !important;
      color: $dark-theme-text-color !important;
    }
  }
}
